body{
	background:#f9ebbf;
}
.left-lines{
    position: absolute;
    top: 58px;
    left: 8px;

    display: flex;
    gap: 10px;
}

.line{
    width: 12px;
    height: 680px;

  background-color: #6390b3;
}
header{
    height:50px;
    background:#6390b3;

    display:flex;
    align-items:center;

    padding:0 20px;
}

.menu-circle{
    width:35px;
    height:35px;

    border-radius:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:23px;
    cursor:pointer;
}

.greeting{
    margin-left:18px;
    font-size:19px;
    font-weight:normal;
}
.option{
    display: flex;
    align-items: center;
    gap: 125px;         
    margin-bottom: 1px;
}
.a{
	top:25px;
	position: relative;
    left:90px;
	height:145px;
    width:145px;
  margin-bottom: 20px;
	background-color: #5A95C6;
}
.option h4{
 	position:relative;
	
}
.icon{
    width:70px;
    height:70px;
    opacity:0.50;   /* Faded look */
}












