body {
     background: #f8e3a0;
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}


/* Overlay */
.bluepart::after{
    content:"";
    position:absolute;
    inset:0;

    background:linear-gradient(
        135deg,
        rgba(0,0,0,.55),
        rgba(0,0,0,.15),
        rgba(47,102,144,.45)
    );
}

.bluepart {
   position: absolute;
    top: 0;
    left: 0;

    width: 55%;
    height: 100vh;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
        ),
        url("31618836056.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    clip-path: polygon(0 0, 100% 0, 20% 100%, 0 100%);

    z-index: 2;
}

.bluepart2 {
    width: 70%;
    height: 250vh;

    position: absolute;
    left: 0;
    bottom: 0;

    background: linear-gradient(130deg,#ADD8E6,#2F6690);

    clip-path: polygon(0 100%,0 40%,70% 100%);

    z-index: 1;      /* Behind */
}

label {
    display: inline-block;
    width: 110px;   /* Keeps both labels aligned */
    font-size: 22px;
    margin-bottom: 20px;
}

.loginbox {
    background: rgba(255,255,255,0.95);
    width: 420px;
    padding: 50px;

    border-radius: 25px;

    box-shadow:
        0 20px 45px rgba(0,0,0,.18);

    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);

    backdrop-filter: blur(8px);
}
.subtitle{
    position: absolute;
    right: 10%;
    top: 73%;

    width: 430px;

    text-align: center;

    color: #555;
    font-size: 15px;
    line-height: 1.6;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 0.5px;
}
.loginbox .login {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 45px;
}

.loginbox #username,
.loginbox #password {
    width: 220px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.loginbox .button {
    float: right;
    width: 90px;
    padding: 10px;
    background: #4682B4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}